<h1><%= @survey.title%></h1>
<% if @preguntas %>
  <h3>Preguntas que has hecho</h3>
  <% @preguntas.each do |pregunta| %>
    <p>Pregunta: <%= pregunta.question %></p>
    <% answers = Question.find(pregunta.id).answers %>
    <p>Posibles respuestas: </p>
    <%answers.each do |respuesta|%>
        <li><%=respuesta.answer%><br>&nbsp&nbsp&nbspvotos: <%= respuesta.count %></li>
    <% end %>
    <hr>
  <% end %>
<% else %>
<% end %>

<p>Formato para agregar preguntas a la encuesta</p>
<form action="/new_question/question/<%= @survey.id %>" method="post">
  <label>Titulo Pregunta</label>
  <input type="text" name="question">
  <br>
  <label>Escribe las respuestas(Máximo 4)</label>
  <br>
  <% 4.times do |answer| %>
  <label>Respuesta <%=answer + 1 %></label>
    <input type="text" name="answer<%= answer + 1 %>"><br>
  <% end %>
  <input type="submit" value="Preguntar">
</form>
<br>
<a href="/logeado">Regresar</a>